<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>bookstores</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>ToViewTitle</servlet-name>
  	<servlet-class>edu.chengXian.controller.ToViewTitle</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTitlesToCart</servlet-name>
  	<servlet-class>edu.chengXian.controller.AddTitlesToCart</servlet-class>  
  </servlet>
  <servlet>
  	<servlet-name>DoOrder</servlet-name>
  	<servlet-class>edu.chengXian.controller.DoOrder</servlet-class>  
  </servlet>
  <servlet>
  	<servlet-name>deleteTitle</servlet-name>
  	<servlet-class>edu.chengXian.controller.deleteTitle</servlet-class>  
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ToViewTitle</servlet-name>
  	<url-pattern>/ToViewTitle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTitlesToCart</servlet-name>
  	<url-pattern>/AddTitlesToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoOrder</servlet-name>
  	<url-pattern>/DoOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteTitle</servlet-name>
  	<url-pattern>/deleteTitle</url-pattern>
  </servlet-mapping>
  
</web-app>